Repository ok-amba/default-ok-charts, pull requests merged in 2023-09, with the labels that each got.

#54 feat: added health check to sql proxy
  charts/db-migration/Chart.yaml
  charts/db-migration/templates/_helpers.tpl
Labels: enhancement, db-migration

#55 feat: cronjob added health check to sql proxy
  charts/cronjob/Chart.yaml
  charts/cronjob/templates/_helper.tpl
Labels: enhancement, cronjob

#56 chore: cronjob version bump
  charts/cronjob/Chart.yaml
Labels: chore, cronjob

#57 feat: support for subpaths on configmap volume mounts
  charts/simple-deployment/Chart.yaml
  charts/simple-deployment/templates/deployment.yaml
Labels: enhancement, simple-deployment

#59 feat: Added the ability to add a `subPath` to `volumeMounts` for a cronjob
  charts/cronjob/Chart.yaml
  charts/cronjob/templates/cronjob.yaml
Labels: enhancement, cronjob
