Repository ok-amba/default-ok-charts, pull requests merged in 2023-06, with the labels that each got.

#37 fix: changed default settings
  charts/datadog-monitor/Chart.yaml
  charts/datadog-monitor/templates/monitor.yaml
Labels: datadog-monitor, fix

#38 New Chart: Datadog Monitor
  charts/datadog-monitor/Chart.yaml
  charts/datadog-monitor/README.md
  charts/datadog-monitor/templates/_helpers.tpl
  charts/datadog-monitor/templates/monitor.yaml
  charts/datadog-monitor/values.yaml
Labels: datadog-monitor

#39 release: simple-deployment 1.0.0
  charts/simple-deployment/Chart.yaml
  charts/simple-deployment/README.md
  charts/simple-deployment/templates/_helpers.tpl
  charts/simple-deployment/templates/deployment.yaml
  charts/simple-deployment/templates/ingress.yaml
  charts/simple-deployment/values.yaml
Labels: simple-deployment

#40 fix: removed duplicate name field in values + chores
  charts/datadog-monitor/Chart.yaml
  charts/datadog-monitor/README.md
  charts/datadog-monitor/templates/monitor.yaml
  charts/datadog-monitor/values.yaml
Labels: datadog-monitor, fix
